extends layout

block content
  h1 Captured Tweets
  div(class="container")
    each val in tweets
      div(class="tweet" id=`${val.tweet_json.id_str}`)
        - let tweetText;
        - if (val.tweet_json.full_text !== undefined){
        -     tweetText = val.tweet_json.full_text;
        - } else if(val.tweet_json.extended_tweet === undefined){
        -     tweetText = val.tweet_json.text;
        - } else {
        -     tweetText = val.tweet_json.extended_tweet.full_text;
        - }
        
        h3 #{val.tweet_json.user.name} (@#{val.tweet_json.user.screen_name})
        if val.tweet_json.user.verified
          p(class="verified-status") Verified User
        p User ID: #{val.tweet_json.user.id_str}
        p Location: #{val.tweet_json.user.location}
        if isExtended
          p(class="tweet-text")= tweetText
        else 
          p(class="tweet-text")= tweetText
        if val.tweet_json.extended_entities
          for media in val.tweet_json.extended_entities.media
            p Media Type is: #{media.type}
        if val.tweet_json.quoted_status
          div(class="quoted-tweet")
            h2 [#{val.tweet_json.quoted_status.user.screen_name}] #{val.tweet_json.quoted_status.full_text}
        p Default User Profile: #{val.tweet_json.user.default_profile}
        a(href=`https://www.twitter.com/statuses/${val.tweet_json.id_str}`) Go to Tweet
        button(class="btn-delete-tweet") Remove
  script(type="application/javascript", src="js/main.js")
