extends layout

block content
  h1 Captured Users
  div(class="container")
    each val in users
      div(class="user-container")
        h3 #{val.user_json.name} (@#{val.user_json.screen_name})
        if val.verified
          p(class="verified-status") Verified User
        p User ID: #{val.user_json.id_str}
        p Location: #{val.user_json.location}     
        p Default User Profile: #{val.user_json.default_profile}
        a(href=`https://twitter.com/intent/user?user_id=${val.user_json.id_str}`) Go to User Profile
  script(type="application/javascript", src="js/main.js")
